body {
  -webkit-font-smoothing: antialiased;
  font-family: PingFang SC,Helvetica Neue,Arial,sans-serif;
}
.doc-header {
  background: #fff;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #eaeefb;
  position: fixed;
}

@media (min-width: 1024px) {
  .van-doc-header.doc-header-container {
    width: 100%;
    position: relative !important;
    border: none;
  }
  .van-doc-header.doc-header-container .van-doc-row {
    width: 1024px;
    margin: 0 auto;
  }
}
.van-doc-footer {
  position: relative
}
.doc-body {
  margin: 60px auto !important;
  min-height: 100vh;
}
.side-menus {
  position: fixed;
  height: calc(100vh - 60px);
  overflow: auto;
}
.demo-view-qrcode {
  position: fixed;
  top: 80px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #999;
}
.demo-view-qrcode img {
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
}